billing_account_id = "XXXXXX-XXXXXX-XXXXXX"
host_project_id    = "xxxxxxxxxx"
service_project_id = "xxxxxxxxxx"
region             = "southamerica-east1"
github_org         = "xxxxxxxxxx"
terraform_repo     = "xxxxxxxxxx-xxxxxxxxxx-connection"
app_repo           = "xxxxxxxxxx-xxxxxxxxxx-app"
project_host = "xxxxxxxxxxx"
project_service "xxxxxxxxxx"