billing_account_id = "XXXXXX-XXXXXX-XXXXXX"
org_id             = "YOUR_ORG_NUMERIC_ID"  # gcloud organizations list
region             = "southamerica-east1"
github_org         = "XXXXXX"
terraform_repo     = "gke-gcp-hibrid-connection"
app_repo           = "gke-gcp-hibrid-app"

environments       = ["develop", "staging", "production"]
active_environment = "develop"

notification_email = "YOUR_EMAIL"
api_uptime_url     = ""

db_tier           = "db-f1-micro"
availability_type = "ZONAL"